---
BasedOnStyle: Google
---
Language: Cpp
Standard: Cpp11

DerivePointerAlignment: false
IncludeBlocks: Regroup
IncludeCategories:
  - Regex:           '^<[^/]+>'
    Priority:        1
  - Regex:           '^<.+>'
    Priority:        2
