default_install_hook_types: [pre-commit, commit-msg]

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
    -   id: check-case-conflict
    -   id: check-merge-conflict
    -   id: check-symlinks
    -   id: check-yaml
        args: [--allow-multiple-documents]
    -   id: end-of-file-fixer
    -   id: trailing-whitespace

-   repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v21.1.8
    hooks:
    -   id: clang-format
        types_or: [c++, c, cuda, json, objective-c]

-   repo: https://github.com/cheshirekow/cmake-format-precommit
    rev: v0.6.13
    hooks:
    -   id: cmake-format
        exclude: (^|/)portfile\.cmake$
        additional_dependencies: [pyyaml==6.0.2]
    -   id: cmake-lint
        exclude: (^|/)portfile\.cmake$
        additional_dependencies: [pyyaml==6.0.2]

-   repo: https://github.com/psf/black
    rev: 26.1.0
    hooks:
    -   id: black

-   repo: https://github.com/timothycrosley/isort
    rev: 7.0.0
    hooks:
    -   id: isort

-   repo: https://github.com/pycqa/flake8
    rev: 7.3.0
    hooks:
    -   id: flake8
        additional_dependencies:
        -   flake8-bandit==4.1.1
        -   flake8-bugbear==24.12.12
        -   flake8-builtins==2.5.0
        -   flake8-comprehensions==3.16.0
        -   flake8-docstrings==1.7.0
        -   flake8-pytest-style==2.1.0
        -   pep8-naming==0.15.1

-   repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.19.1
    hooks:
    -   id: mypy
        additional_dependencies:
        -   types-toml==0.10.8.20240310

-   repo: https://github.com/editorconfig-checker/editorconfig-checker.python
    rev: 3.6.0
    hooks:
    -   id: editorconfig-checker
        args: [-disable-indent-size]

-   repo: https://github.com/jorisroovers/gitlint
    rev: v0.19.1
    hooks:
    -   id: gitlint
