name: Bench

on:
  push:
  pull_request:
  schedule:
    - cron: 0 0 1 * * # monthly

env:
  PIP_ONLY_BINARY: ':all:'

jobs:
  bench:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        problem-type:
          - nontrivial-gcd
          - trivial-gcd
          - nontrivial-factor
          - trivial-factor
    steps:
      - name: Checkout the repository
        uses: actions/checkout@v6

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.10'

      - name: Cache for pip
        uses: actions/cache@v5
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-pip-${{ env.pythonLocation }}-${{ hashFiles('**/poetry.lock') }}
          restore-keys: |
            ${{ runner.os }}-pip-${{ env.pythonLocation }}-
            ${{ runner.os }}-pip-

      - name: Cache for Poetry
        uses: actions/cache@v5
        with:
          path: ~/.cache/pypoetry
          key: ${{ runner.os }}-poetry-${{ env.pythonLocation }}-${{ hashFiles('**/poetry.lock') }}
          restore-keys: |
            ${{ runner.os }}-poetry-${{ env.pythonLocation }}-
            ${{ runner.os }}-poetry-

      - name: Cache for vcpkg
        uses: actions/cache@v5
        with:
          path: ~/.cache/vcpkg/archives
          key: ${{ runner.os }}-vcpkg-${{ hashFiles('**/vcpkg.json') }}
          restore-keys: ${{ runner.os }}-vcpkg-

      - name: Set up Java
        uses: actions/setup-java@v5
        with:
          distribution: temurin
          java-version: 11

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5

      - name: Cache for Cargo
        uses: actions/cache@v5
        with:
          path: |
            ~/.cargo/bin/
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}
          restore-keys: ${{ runner.os }}-cargo-

      - name: Set up Rust
        uses: dtolnay/rust-toolchain@stable

      - name: Install dependencies
        uses: awalsh128/cache-apt-pkgs-action@latest
        with:
          packages: singular-ui

      - name: Cache for venv
        uses: actions/cache@v5
        with:
          path: .venv
          key: ${{ runner.os }}-venv-${{ env.pythonLocation }}-${{ hashFiles('**/poetry.lock') }}
          # We can't use restore-keys because venv should contain all required packages, otherwise fails.

      - name: Cache for build
        uses: actions/cache@v5
        with:
          path: |
            build
            !build/**/buildtrees
          key: ${{ runner.os }}-build-${{ hashFiles('polybench/**/*.gradle*', 'polybench/**/Cargo.lock', 'polybench/**/vcpkg.json') }}
          restore-keys: ${{ runner.os }}-build-

      - name: Build
        run: ./run.sh --build-only --color always --debug --all

      - name: Run benchmark
        run: ./run.sh --type ${{ matrix.problem-type }} --output-directory output-${{ matrix.problem-type }} --color always --all

      - name: Save results
        uses: actions/upload-artifact@v5
        with:
          name: ${{ matrix.problem-type }}
          path: output-*/
          if-no-files-found: error
